.wrapper{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.big-heading{
    font-size: 8rem;
}
.big-heading-blue{
    color: var(--blue);
}
.big-first-heading:hover{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:var(--white);
    color: var(--black);
    transition: all 0.5s;
}
img.crypto-image {
    /* width: 65%; */
    width: 24rem;
    height: 42rem;
    position: absolute;
   right: 3rem;
}
.image-box{
    position: relative;
    bottom: 15rem;
    right: 1rem;
}

img.blueShade {
    position: absolute;
    right: 43px;
    width: 19rem;
    object-fit: contain;
    top: 8rem;
}
.para{
    color: var(--grey);
    margin-top: -70px;
}
.left-buttons{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 1433px) {
    .big-heading{
        font-size: 5rem;
    }
    .image-box{
        margin-top: 10rem;
    }
    img.crypto-image{
        width: 20rem;
        height: 35rem;
    }
    img.blueShade{
        width: 15rem;
        height: 30rem;
    }
    .para{
        margin-top: -28px;
        width: 30rem;
    }
}
@media only screen and (max-width: 997px) {
    .big-heading{
        font-size: 3rem;
    }
    .para{
        /* margin-top: -28px; */
        width: 20rem;
    }
    img.crypto-image{
        width: 15rem;
        height: 25rem;
    }
    img.blueShade{
        width: 10rem;
        height: 25rem;
        margin-top: -4rem;
    }
    .image-box{
        margin-top: 15rem;
    }
}
@media only screen and (max-width: 750px) {
    .big-heading{
        font-size: 2rem;
    }
    .para{
        /* margin-top: -28px; */
        width: 20rem;
    }
    img.crypto-image{
        width: 10rem;
        height: 18rem;
    }
    img.blueShade{
        width: 7rem;
        height: 24rem;
        margin-top: -8rem;
    }
    .image-box{
        margin-top: 15rem;
    }
}
@media only screen and (max-width: 664px) {
    .wrapper{
        align-items: center;
        justify-content: center;
    }
    .big-heading{
        font-size: 2rem;
        
    }
    .para{
        /* margin-top: -28px; */
        width: 20rem;
    }
    img.crypto-image{
        width: 10rem;
        height: 18rem;
    }
    img.blueShade{
        width: 7rem;
        height: 24rem;
        margin-top: -8rem;
    }
    .image-box{
        margin-top: 15rem;
    }
}