.coin-box{
  
    background-color: var(--darkgrey);
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
   
}
.red-box{
    background-color: var(--darkgrey);
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
   
}
.coin-box:hover{
    border: 2px solid var(--green);
    transition: all 0.3s;
    transform: scale(1.05);
}
.red-box:hover{
    border: 2px solid var(--red);
    transition: all 0.3s;
    transform: scale(1.05);
}
.logo-div{
    display: flex;
    width: 100%;   
}
.logo{
    width: 17%;
    height: 54%;
    margin-left: 2rem;
    margin-top: 2rem;
}
.coin-info {
    margin-left: 19px;
    color: var(--white);
}
.coin-symbol{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 35px;
    text-transform: uppercase;
}
.coin-name{
    font-size: 0.8rem;
    opacity: 0.8;
    margin-top: 1px;
    margin-top: -21px;
}
.upChip{
    border: 2px solid var(--green);
    margin-left: 31px;
    margin-top: 20px;
    width: 96px;
    color: var(--green);
    display: flex;
    border-radius: 43px;
    padding: 1px -14px;
    height: 37px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.downChip{
    border: 2px solid var(--red);
    margin-left: 31px;
    margin-top: 20px;
    width: 96px;
    color: var(--red);
    display: flex;
    border-radius: 43px;
    padding: 1px -14px;
    height: 37px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.upChip:hover{
    background-color: var(--green);
    color: white;
}
.downChip:hover{
    background-color: var(--red);
    color: white;
}
.data-div {
    display: flex;
}
.upTrend{
    margin-top: 21px;
    margin-left: 16px;
    border: 2px solid var(--green) ;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: var(--green);
    text-align: center;
    padding: 4px;
}
.downTrend{
    margin-top: 21px;
    margin-left: 16px;
    border: 2px solid var(--red) ;
    border-radius: 50%;
    width: 27px;
    color: var(--red);
    height: 27px;
    text-align: center;
    padding: 4px;
}
.upTrend:hover{
    background-color: var(--green);
    color: white;
}
.downTrend:hover{
    background-color: var(--red);
    color: white;
}
.price-up {
    margin-left: 2rem;
    margin-top: 2rem;
    color: var;
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
.price-down {
    margin-left: 2rem;
    margin-top: 2rem;
    color: var;
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 600;
}
.coin-details {
    font-size: 13px;
    margin-left: 30px;
    margin-top: -13px;
    color: gainsboro;
    font-weight: 600;
}
